.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size:medium;
    font-weight: 530;
}
.blogAuthor {
/*    padding: 0px 0px 0px 10px;
*/    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    margin: 15px 50px 15px 50px;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
